* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #d4ccc4;
}

#root {
  margin: auto;
  margin-top: 40px;
  height: 853px;
  width: 550px;
  border-radius: 9px;
  background-color: white;
  font-family: Poppins, sans-serif;
}

/* Navigation */
nav {
  padding-left: 30px;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.103);
}

/* Hero section */
.hero {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}
.hero img {
  height: 232px;
  width: 396px;
  align-self: center;
}
.hero h1 {
  padding-left: 36px;
}
.hero p {
  padding-left: 36px;
  margin-top: -10px;
  width: 320px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}
