* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #d4ccc4;
}

#root {
  margin: auto;
  margin-top: 10px;
  height: 853px;
  width: 550px;
  border-radius: 9px;
  background-color: white;
  font-family: Poppins, sans-serif;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
}

/* Navigation */
nav {
  padding-left: 30px;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.103);
}

/* Hero section */
.hero {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
}
.hero img {
  height: 232px;
  width: 396px;
  align-self: center;
}
.hero h1 {
  padding-left: 36px;
}
.hero p {
  padding-left: 36px;
  margin-top: -10px;
  width: 320px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}

/* Cards menu */
.cards-menu {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  overflow: hidden;
  margin-left: 37px;
}

/* Card */
.card {
  height: 302px;
  width: 190px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card img {
  height: 235px;
  width: 176px;
}
.card--row-one {
  margin-top: -5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.card--row-one img {
  margin-top: -3px;
  height: 12px;
  width: 12px;
}
.gray {
  color: #918e9b;
}
ul {
  display: inline;
  margin-left: -25px;
}
.card--row-two {
  margin-top: -20px;
  width: 190px;
}
.card--row-three {
  margin-top: -20px;
  display: flex;
}
.card--row-three-price {
  font-weight: 600;
}

/* Card notification */
.card--notification {
  width: 61px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  border-radius: 2px;
  font-size: 11.24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Credits */
.credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 55px;
  align-self: center;
}
